/* css */

.video {
  height: 500px;
 
}

iframe {
  height: 100%;
  width: 100%;
}

.description {
  height: 100px;
}

.comments {
  height: 500px;
}
.comments img{
  border-radius:50%;
  width:100px;
  height:100px;
}
.btn {
  margin:8px;
  
}
.left-column{
  margin:5px;
} 
 
