/* css */

.video {
  height: 600px;
}

.title {
  padding: 20px 0px;
}

.btn {
  border-radius: 10px;
}

iframe {
  height: 100%;
  width: 100%;
}

.description {
  height: 100px;
}

.comments {
  height: 500px;
}

.comments img {
  width:100px;
  height:100px;
  border-radius:50%;
}

.btn {
  margin:8px;
}

.main {
  margin: 10px;
}
