/* styles.css */

/* **************************************** basic styling */

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body{
  color: rgb(10, 10, 10);
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
}

/* **************************************** icons */

.material-icons{
  color: #666;
  font-size: 2.5rem;
}

/* **************************************** layout */

.container {
  display: grid;
  grid-template-areas: 
  "header header"
  "main sidebar";
  grid-template-columns: 67% 33%;
  grid-template-rows: auto;
}

.main {
  grid-area: main;
  padding:15px 7px 15px 15px ;
}

.sidebar {
  grid-area: sidebar;
  padding:15px 15px 15px 7px;
}

/* **************************************** navbar */

.navbar {
  display:flex;
  justify-content:space-between;
  align-items: center;
  grid-area: header;
  background-color:#fff;
  box-shadow: 0 3px 3px #eee;
}

/* logo section */

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  width: 15rem;
}

/* search section */

.search{
  display: flex;
  width: 60rem;
  background-color: #ececec;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.search input {
  width: 85%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}

.search .search-button {
  width: 15%;
  border-left: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button i {
  color: #666;
  font-size: 2rem;
}

/* sign-in section */

.sign-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  margin-right: 15px;
}

.sign-in i:last-child {
  font-size: 4rem;
}

/* **************************************** main */

/* video */

.video{
  height:50rem;
}

.video iframe{
  border: none;
  height:100%;
  width:100%;
}

/* title */
.video-header-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

.title-row h2 {
  font-size: 2rem;
  font-weight: 400;
}

.views-menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.views-menu-row .views {
  padding-bottom: 0.5rem;
}

.views-menu-row .views h3 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #888;
}

.views-menu-row .video-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.video-menu-button {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  color: #888;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #fff;
}

.button-underline {
  border-bottom: 3px solid #ccc;
}

.views-menu-row .video-menu i {

}

.views-menu-row .video-menu .button-label {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: #777;
}

/* channel */

.video-channel {
  display: flex;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.video-channel-image {
  /*flex-grow: 1;*/
}

.video-channel-image img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.video-channel-details {
  /*flex-grow: 6;*/
  padding-left: 1.5rem;
}

.video-channel-details .published-date {
  color: #888;
}

.video-channel-details p {
  padding-top: 2rem;
}

.video-channel-details p:last-child {
  color: #888;
}

.video-channel-subscribe {
  flex-basis: 20rem;
}

.video-channel-subscribe button {
  float: right;
  color: #fff;
  font-weight: 300;
  background-color: rgb(204, 0, 0);
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
}

/* description */
.description {
  /*background-color: purple;*/
  height: 175px;
  font-size: 3rem;
}

/* **************************************** side-bar */

.sidebar-container {
  display: flex;
  flex-direction: column;
  
}
.upnext-section{
  /* display:flex;
  align-items: baseline;
  justify-content:flex-end;  */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:15px;
}

.upnext-section .upnext-title{
  width:50%;
  
}

.upnext-section .button-auto{
  width:50%;
  display:inline-flex;
}

.video-box{
  display:inline-flex ;
 
 
}

.video-thumbnail{
  width:50%;
  align-self: flex-end;
}
.video-thumbnail img {
   width:50%;
   align-self: flex-start;
  
}
.video-details{

}
